# SSH-туннель (нужен только для test_ssh/run.py)
SSH_HOST=
SSH_PORT=22
SSH_USER=
SSH_KEY_PATH=
SSH_KEY_PASSWORD=

DB_BEGET_MAIN_HOST=db1-replica.beget
DB_BEGET_MAIN_PORT=3306
DB_BEGET_MAIN_USER=
DB_BEGET_MAIN_PASSWORD=
DB_BEGET_MAIN_NAME=beget_main

DB_SUPPORT_HOST=db.mysql.support.beget
DB_SUPPORT_PORT=3306
DB_SUPPORT_USER=
DB_SUPPORT_PASSWORD=
DB_SUPPORT_NAME=support

DB_HELPDESK_METRICKS_HOST=helpdesk-metrics-2.mysql.beget
DB_HELPDESK_METRICKS_PORT=3306
DB_HELPDESK_METRICKS_USER=
DB_HELPDESK_METRICKS_PASSWORD=
DB_HELPDESK_METRICKS_NAME=helpdesk_metrics

DB_HELPDESK_HOST=helpdesk-2.mysql.beget
DB_HELPDESK_PORT=3306
DB_HELPDESK_USER=
DB_HELPDESK_PASSWORD=
DB_HELPDESK_NAME=helpdesk